/*CSS*/

*
{
	margin:0;
	padding:0;
}

body
{

	background-color: rgb(180,180,180);
	width: 50%;
	margin: 200px auto;
	font-family: arial;
	text-align: center;
}

div
{
	background-color: white;
	border-radius: 5px;
	box-shadow: 5px 5px 2px rgb(140,140,140);
	margin: 10px;
	padding: 2px;
}

#contentDau
{
	width: 80px;
	height: 75px;
	background-color: white;
	margin: auto;
}